body {
    background: darkslategray;
    font-family: 'VT323', monospace;
}

/* heading style */
h1 {
    color: ivory;
    display: flex;
    justify-content: center;
    font-size: 4em;
}

/* Rules style */
.rules {
    background-color: gray;
    color: ivory;
    border: 1px solid;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

/* Game area style */
.game-area p {
    color: ivory;
    
}